<% page_title! "Sharing options - #{@estimation.title}" %>

<div class="container">
  <h1 class="title"><%= @estimation.title %></h1>
  <h2 class="subtitle">Sharing options</h2>

  <div class="columns">
    <div class="column is-half">
      <div class="box">
        <h3 class="title is-4">Share this Estimation</h3>

        <%= turbo_frame_tag "shares_form" do %>
          <%= render "estimation_shares/form", estimation: @estimation, estimation_share: @estimation_share %>
        <% end %>
      </div>
    </div>

    <div class="column is-half">
      <div class="box">
        <h3 class="title is-4">Shared with</h3>

        <%= turbo_frame_tag "shares_list" do %>
          <%= render "estimation_shares/list",
                     estimation: @estimation,
                     shares: @estimation_shares %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="mt-4">
    <%= link_to "Back to #{@estimation.title}", estimation_path(@estimation), class: "button" %>
  </div>
</div>
