<tr class="estimation-item" id="<%= dom_id(estimation) %>">
  <td>
    <%= link_to estimation.title, estimation, class: 'has-text-dark has-text-weight-medium' %>
  </td>
  <td class="has-text-right has-text-success has-text-weight-semibold">
    <%= estimation.sum %>
  </td>
  <td class="has-text-centered has-text-grey-light">
    <small>+</small>
  </td>
  <td class="has-text-right has-text-info has-text-weight-semibold">
    <%= estimation.buffer %>
  </td>
  <td class="has-text-centered has-text-grey-light">
    <small>=</small>
  </td>
  <td class="has-text-right has-text-warning has-text-weight-semibold">
    <%= estimation.total %>
  </td>
  <td class="has-text-centered">
    <%= button_to estimation,
                  method: :delete,
                  data: { turbo_confirm: 'Are you sure you want to delete this estimation?' },
                  class: 'button is-small is-danger is-light is-outlined' do %>
      <span class="icon is-small">
        <i class="fa-solid fa-trash-can"></i>
      </span>
    <% end %>
  </td>
</tr>