<div class='list-group-item estimation-item' id="<%= dom_id(estimation) %>">
  <%= link_to estimation.title, estimation %>
  <div class="removal-button pull-right">
    <%= button_to estimation, method: :delete, remote: true, class: 'close', data: { confirm: 'Are you sure you want to delete this estimation?' } do %>
      <span>&times;</span>
    <% end %>
  </div>
  <%= link_to estimation, class: 'text-muted pull-right' do %>
    <span class="text-success"><strong><%= estimation.sum %></strong></span>
    +
    <span class="text-info"><strong><%= estimation.buffer %></strong></span>
    =
    <span class="text-warning"><strong><%= estimation.total %></strong></span>
  <% end %>
</div>