<tr class="estimation-row" id="<%= dom_id(estimation) %>">
  <td class="estimation-title-cell">
    <%= link_to estimation, class: 'estimation-row-link' do %>
      <span class="estimation-title"><%= estimation.title %></span>
    <% end %>
  </td>

  <td class="estimation-mode-cell">
    <div class="cell-content has-text-centered">
      <% if estimation.tracking_mode? %>
        <span class="tag is-info is-light" title="Tracking mode">
          <span class="icon is-small">
            <i class="fa-solid fa-play"></i>
          </span>

          <span>Tracking</span>
        </span>
      <% else %>
        <span class="tag is-light" title="Planning mode">
          <span class="icon is-small">
            <i class="fa-solid fa-pen-ruler"></i>
          </span>

          <span>Planning</span>
        </span>
      <% end %>
    </div>
  </td>

  <td class="estimation-calculation-cell">
    <div class="cell-content has-text-right">
      <% if estimation.tracking_mode? %>
        <span class="calculation-group">
          <span class="calculation-value is-actual" title="Completed">
            <%= estimation.actual_sum %>
          </span>

          <span class="calculation-operator">/</span>

          <span class="calculation-value is-total" title="Total estimate">
            <%= estimation.total %>
          </span>

          <span class="calculation-separator"></span>

          <span
            class="calculation-value <%= estimation.buffer_health_class %>"
            title="Buffer consumption"
          >
            <%= estimation.buffer_health %>
          </span>
        </span>
      <% else %>
        <span class="calculation-group">
          <span class="calculation-value is-sum" title="Sum">
            <%= estimation.sum %>
          </span>

          <span class="calculation-operator">+</span>

          <span class="calculation-value is-buffer" title="Buffer">
            <%= estimation.buffer %>
          </span>

          <span class="calculation-operator">=</span>

          <span class="calculation-value is-total" title="Total">
            <%= estimation.total %>
          </span>
        </span>
      <% end %>
    </div>
  </td>

  <td class="estimation-actions-cell">
    <div class="cell-content has-text-centered">
      <%= button_to estimation,
                    method: :delete,
                    data: { turbo_confirm: "Are you sure you want to delete \"#{estimation.title}\"?" },
                    class: 'button is-small is-danger is-light delete-estimation-button',
                    aria: { label: "Delete estimation: #{estimation.title}" } do %>
        <span class="icon is-small">
          <i class="fa-solid fa-trash-can"></i>
        </span>
      <% end %>
    </div>
  </td>
</tr>
