<div class="pure-g" id="<%= dom_id(estimation) %>">
  <div class="pure-u-3-5">
    <%= link_to estimation, class: 'estimations-list-item' do %>
      <%= estimation.title %>
    <% end %>
  </div>
  <div class="text-muted pure-u-1-5">
    <span class="text-success"><strong><%= estimation.sum %></strong></span>
    +
    <span class="text-info"><strong><%= estimation.buffer %></strong></span>
    =
    <span class="text-warning"><strong><%= estimation.total %></strong></span>
  </div>
  <div class="removal-button pure-u-1-5">
    <%= button_to estimation, method: :delete, remote: true, class: 'button-link' do %>
        <%= fa_icon :close %>
      <% end %>
  </div>
</div>
