<%= form_for @estimation, method: :patch, data: { turbo: false }, html: { class: 'tracking-toggle-form' } do |f| %>
  <%= f.hidden_field :tracking_mode, value: !@estimation.tracking_mode? %>

  <div class="tracking-toggle-container">
    <span class="tracking-toggle-label">Tracking mode</span>

    <button
      type="submit"
      class="tracking-toggle-button <%= 'is-active' if @estimation.tracking_mode? %>"
      title="<%= @estimation.tracking_mode? ? 'Switch to planning mode' : 'Switch to tracking mode' %>"
      aria-label="<%= @estimation.tracking_mode? ? 'Disable tracking mode' : 'Enable tracking mode' %>"
      aria-pressed="<%= @estimation.tracking_mode? %>"
    >
      <span class="tracking-toggle-thumb"></span>
    </button>
  </div>
<% end %>
