<% if @estimation.tracking_mode? %>
  <div class="tracking-results">
    <p class="tracking-progress">
      <span class="actual" id="actual_sum"><%= @estimation.actual_sum %></span>
      <span class="has-text-grey-light"> / </span>
      <span class="total" id="total"><%= @estimation.total %></span>
    </p>

    <p class="is-size-7 has-text-grey">completed out of total estimate</p>
  </div>
<% else %>
  <div class="estimation-summary">
    <div class="summary-row">
      <span class="summary-item is-sum">
        <span class="summary-label">Sum</span>
        <span class="summary-value" id="sum"><%= @estimation.sum %></span>
      </span>

      <span class="summary-operator">+</span>

      <span class="summary-item is-buffer">
        <span class="summary-label">Buffer</span>
        <span class="summary-value" id="buffer"><%= @estimation.buffer %></span>
      </span>

      <span class="summary-operator">=</span>

      <span class="summary-item is-total">
        <span class="summary-label">Total</span>
        <span class="summary-value" id="total"><%= @estimation.total %></span>
      </span>
    </div>
  </div>
<% end %>
