<% if @estimation.tracking_mode? %>

  <h4 class="title is-4">
    <span class="has-text-success" id="actual_sum"><%= @estimation.actual_sum %></span>
    out of
    <span id="total" class="has-text-warning"><%= @estimation.total %></span>
  </h4>

<% else %>

  <table id="results-table">
    <tr class="is-size-5">
      <td class="has-text-success" id="sum"><%= @estimation.sum %></td>
      <td class="has-text-grey"><small>+</small></td>
      <td class="has-text-info" id="buffer"><%= @estimation.buffer %></td>
      <td class="has-text-grey"><small>=</small></td>
      <td class="has-text-warning" id="total"><%= @estimation.total %></td>
    </tr>
    <tr class="has-text-grey has-text-centered">
      <td><small>Sum</small></td>
      <td></td>
      <td><small>Buffer</small></td>
      <td></td>
      <td><small>Total</small></td>
    </tr>
  </table>

<% end %>


