<div class="col-md-4 col-md-offset-4">
  <div class="list-group">
    <%= render @estimations %>
  </div>

  <%= form_for Estimation.new, html: {class: 'form-inline'} do |f| %>
    <div class="form-group">
      <%= f.label :title, class: 'sr-only' %>
      <%= f.text_field :title, class: 'form-control', placeholder: 'New list title' %>
    </div>

    <%= f.submit 'Create estimation', class: 'btn btn-success' %>
  <% end %>
</div>