<% page_title! @estimation.title %>

<div id="estimation_title">
  <h1><%= @estimation.title %></h1>
  <div class="notification is-light mt-2">
    <p>This is a read-only view. <% if !user_signed_in? %><%= link_to "Sign in", new_user_session_path %> to create your own estimations.<% end %></p>
  </div>
</div>

<div class="columns">
  <div class="column is-7">
    <div class="table-container">
      <table class="table is-hoverable is-fullwidth estimation-items-index">
        <colgroup>
          <col class="col-calculation">
          <col class="col-fixed">
          <col class="col-title">
        </colgroup>

        <tbody>
          <% if @estimation.tracking_mode? %>
            <%= render partial: 'estimation_items/public_estimation_item_trackable', collection: @estimation.estimation_items, as: :estimation_item %>
          <% else %>
            <%= render partial: 'estimation_items/public_estimation_item', collection: @estimation.estimation_items, as: :estimation_item %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="column is-5">
    <%= render 'results' %>
    <% if @estimation.tracking_mode? %>
      <%= render 'buffer_consumption' %>
      <%= render 'graph' %>
    <% end %>
  </div>
</div>
