<% page_title! @estimation.title %>

<div class="pure-u-1-12"></div>
<div class="pure-u-1-2">
  <div class="pure-g" id="<%= dom_id @estimation %>">
    <%= render @estimation.estimation_items %>
  </div>
</div>

<div class="pure-u-1-12"></div>
<div class="pure-u-4-12">
  <%= render 'mode_toggle' %>
  <%= render 'estimation_items/form_for_new' unless @estimation.tracking_mode? %>
  <%= render 'results' %>
  <%= render 'buffer_consumption' if @estimation.tracking_mode? %>
  <%= render 'graph' if @estimation.tracking_mode? %>
</div>
