<% page_title! @estimation.title %>

<div class="pure-u-1-12"></div>
<div class="pure-u-1-2">
  <table class="table table-hover">
    <tbody id="<%= dom_id @estimation %>">
      <%= render partial: @estimation.items_partial_name, collection: @estimation.estimation_items, as: :estimation_item %>
    </tbody>
  </table>
</div>

<div class="pure-u-1-12"></div>
<div class="pure-u-4-12">
  <%= render 'mode_toggle' %>
  <%= render 'estimation_items/form_for_new' unless @estimation.tracking_mode? %>
  <%= render 'results' %>
  <%= render 'buffer_consumption' if @estimation.tracking_mode? %>
  <%= render 'graph' if @estimation.tracking_mode? %>
</div>
