<% page_title! @estimation.title %>

<div class="col-md-6">
  <table id="<%= dom_id @estimation %>" class="table table-hover">
    <%= render @estimation.estimation_items, locals: { tracking_mode: @estimation.tracking_mode? } %>
  </table>
</div>

<div class="col-md-5 col-md-offset-1">
  <%= render 'mode_toggle' %>
  <%= render 'estimation_items/form_for_new' unless @estimation.tracking_mode? %>
  <%= render 'results' %>
  <%= render 'graph' if @estimation.tracking_mode? %>
</div>