<% page_title! @estimation.title %>

<div class="col-md-6">
  <table id="<%= dom_id @estimation %>" class="table table-hover">
    <%= render @estimation.estimation_items %>
  </table>
</div>

<div class="col-md-5 col-md-offset-1">
  <%= form_for [@estimation, EstimationItem.new], html: { class: 'form-inline' }, remote: true do |f| %>
    <div class="form-group">
      <%= f.label :value, class: 'sr-only' %>
      <%= f.number_field :value, class: 'form-control value', placeholder: 'Value', autofocus: true %>
    </div>
    <div class="form-group">
      <%= f.label :title, class: 'sr-only' %>
      <%= f.text_field :title, class: 'form-control title', placeholder: 'Item title (optional)' %>
    </div>
    <%= f.button class: 'btn btn-success', value: 'Add estimation item', type: :submit do %>
      <%= icon('plus-circle fa-lg') %>
    <% end %>
  <% end %>

  <h2 id="total"><%= @estimation.total.round(2) %></h2>

  <h3 id="sum"><%= @estimation.sum %></h3>
  <h3 id="buffer"><%= @estimation.buffer.round(2) %></h3>
</div>