<% page_title! @estimation.title %>

<%# Subscribe to Turbo Stream updates for all editors (realtime collaboration) %>
<%= turbo_stream_from "estimation_#{@estimation.id}" %>

<div id="estimation_title">
  <h1><%= @estimation.editable :title %></h1>
  <% if policy(@estimation).manage_shares? %>
    <div class="mt-2">
      <%= link_to estimation_estimation_shares_path(@estimation), class: "button is-small is-link" do %>
        <span class="icon"><i class="fas fa-users"></i></span>
        <span>Sharing</span>
        <% if @estimation.estimation_shares.any? %>
          <span class="tag is-info is-light ml-1"><%= @estimation.estimation_shares.count %></span>
        <% end %>
      <% end %>
    </div>
  <% elsif @estimation.user_id != current_user.id %>
    <div class="notification is-info is-light mt-2">
      <p>This estimation is shared with you by <%= @estimation.user.email %></p>
    </div>
  <% end %>
</div>

<div class="columns">
  <div class="column is-7">
    <div class="table-container">
      <table
        id="<%= dom_id @estimation %>"
        class="table is-hoverable is-fullwidth estimation-items-index"
        data-controller="sortable"
        data-sortable-update-url="<%= estimation_estimation_items_path(@estimation) %>"
      >
        <colgroup>
          <col class="col-drag">
          <col class="col-calculation">
          <col class="col-fixed">
          <col class="col-title">
          <col class="col-actions">
        </colgroup>

        <tbody>
          <%= render partial: @estimation.items_partial_name, collection: @estimation.estimation_items, as: :estimation_item %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="column is-5">
    <% if policy(@estimation).update_metadata? %>
      <div id="mode_toggle"><%= render 'mode_toggle' %></div>
    <% end %>
    <%= render 'estimation_items/form_for_new' unless @estimation.tracking_mode? %>
    <%= render 'results' %>
    <%= render 'buffer_consumption' if @estimation.tracking_mode? %>
    <%= render 'graph' if @estimation.tracking_mode? %>
  </div>
</div>
