<% page_title! @estimation.title %>

<div class="col-md-6">
  <table id="<%= dom_id @estimation %>" class="table table-hover">
    <%= render partial: @estimation.items_partial_name, collection: @estimation.estimation_items, as: :estimation_item %>
  </table>
</div>

<div class="col-md-5 col-md-offset-1">
  <%= render 'mode_toggle' %>
  <%= render 'estimation_items/form_for_new' unless @estimation.tracking_mode? %>
  <%= render 'results' %>
  <%= render 'buffer_consumption' if @estimation.tracking_mode? %>
  <%= render 'graph' if @estimation.tracking_mode? %>
</div>
