<tr id="<%= dom_id estimation_item %>"
    data-order="<%= estimation_item.order %>"
    data-sortable-target="item"
    draggable="true"
    data-action="dragstart->sortable#dragStart dragend->sortable#dragEnd dragover->sortable#dragOver">
  <td class="drag-handle" style="cursor: move; width: 30px;">
    <span class="fa-solid fa-grip-vertical has-text-grey-light" style="opacity: 0.5;"></span>
  </td>
  <td class="has-text-right copies">
    <i class="fa-solid fa-copy has-text-grey-light"></i>
    <%= estimation_item.decorate.editable :quantity, type: :number %>
    <span class="multiplier">×</span>
  </td>
  <td>
    <span class="is-size-5 has-text-weight-semibold">
      <%= estimation_item.decorate.editable :value, type: :number %>
    </span>
    <span class="multiplier-total is-size-5 has-text-weight-semibold">
      =
      <span class="total_value">
        <%= estimation_item.total %>
      </span>
    </span>
  </td>
  <td>
    <%= form_with model: [estimation_item.estimation, estimation_item],
                  method: :patch do |f| %>
      <%= f.hidden_field :fixed, value: !estimation_item.fixed? %>
      <span class="fa fa-dot-circle-o"></span>
      <%= f.button type: :submit, class: 'button is-text toggle-fixed' do %>
        <span class="fa <%= estimation_item.fixed? ? 'fa-toggle-on' : 'fa-toggle-off' %>"></span>
      <% end %>
    <% end %>
  </td>
  <td><%= estimation_item.decorate.editable :title %></td>
  <td>
    <%= button_to [estimation_item.estimation, estimation_item],
                  method: :delete,
                  data: { turbo_confirm: 'Are you sure?' },
                  class: 'delete' do %>
    <% end %>
  </td>
</tr>
