<tr
  id="<%= dom_id estimation_item %>"
  data-order="<%= estimation_item.order %>"
  data-sortable-target="item"
  draggable="true"
  data-action="dragstart->sortable#dragStart dragend->sortable#dragEnd dragover->sortable#dragOver"
>
  <%# Drag Handle %>
  <td class="col-drag">
    <span class="drag-handle">
      <i class="fa-solid fa-grip-vertical"></i>
    </span>
  </td>

  <%# Estimated Value %>
  <td class="col-calculation has-text-right">
    <span class="calculation-group">
      <% if estimation_item.quantity > 1 %>
        <span class="quantity has-text-grey">
          <%= "#{estimation_item.quantity}×#{estimation_item.value}=" %>
        </span>
      <% end %>

      <span class="total">
        <%= estimation_item.value * estimation_item.quantity %>
      </span>
    </span>
  </td>

  <%# Fixed Indicator %>
  <td class="col-fixed has-text-centered">
    <% if estimation_item.fixed? %>
      <span
        class="has-text-info"
        title="Fixed estimate (excluded from buffer calculation)"
        aria-label="Fixed estimate"
      >
        <i class="fa-solid fa-thumbtack"></i>
      </span>
    <% end %>
  </td>

  <%# Title %>
  <td class="col-title"><%= estimation_item.title %></td>

  <%# Actual Value (Editable in tracking mode) %>
  <td class="col-actual has-text-right">
    <%= estimation_item.decorate.editable :actual_value, type: :number %>
  </td>
</tr>
