<div class="pure-u-1">
  <div class="pure-g" id="<%= dom_id estimation_item %>">
    <div class="pure-u-1-12 text-right">
      <span class="lead">
        <% if estimation_item.quantity > 1 %>
          <span class="small text-muted"><%= "#{estimation_item.quantity}×#{estimation_item.value}=" %></span>
        <% end %>
        <%= estimation_item.value * estimation_item.quantity %>
      </span>
    </div>

    <div class="pure-u-1-24">
      <% if estimation_item.fixed? %>
        <span class="fa fa-dot-circle-o"></span>
      <% end %>
    </div>

    <div class="pure-u-19-24"><%= estimation_item.title %></div>
    <div class="pure-u-1-12">
      <%= estimation_item.actual_value %>
    </div>
  </div>
</div>
