<%# Replace the updated estimation item with the correct partial based on mode %>
<%= turbo_stream.replace dom_id(@estimation_item) do %>
  <%= render partial: @estimation.decorate.items_partial_name, locals: { estimation_item: @estimation_item, highlight: true } %>
<% end %>

<%# Update the totals %>
<%= turbo_stream.update "total" do %><%= @estimation.total %><% end %>
<%= turbo_stream.update "sum" do %><%= @estimation.sum %><% end %>
<%= turbo_stream.update "buffer" do %><%= @estimation.buffer %><% end %>

<%# Update actual_sum if tracking mode %>
<%= turbo_stream.update "actual_sum" do %><%= @estimation.actual_sum %><% end %>

<%# Update buffer_health with both text and class %>
<%= turbo_stream.replace "buffer_health" do %>
  <span class="<%= @estimation.buffer_health_class %>" id="buffer_health"><%= @estimation.buffer_health %></span>
<% end %>
