<%# Replace the updated estimation item %>
<%= turbo_stream.replace dom_id(@estimation_item) do %>
  <%= render @estimation_item %>
<% end %>

<%# Update the totals %>
<%= turbo_stream.update "total" do %><%= @estimation.total %><% end %>
<%= turbo_stream.update "sum" do %><%= @estimation.sum %><% end %>
<%= turbo_stream.update "buffer" do %><%= @estimation.buffer %><% end %>

<%# Update tracking mode values if present %>
<% if @estimation.tracking_mode? %>
<%= turbo_stream.update "actual_sum" do %><%= @estimation.actual_sum %><% end %>
<%= turbo_stream.update "buffer_health" do %><%= @estimation.buffer_health %><% end %>
<turbo-stream action="morph" target="buffer_health">
  <template>
    <span class="<%= @estimation.buffer_health_class %>" id="buffer_health"><%= @estimation.buffer_health %></span>
  </template>
</turbo-stream>
<% end %>

<%# Highlight the updated item %>
<turbo-stream action="append" target="<%= dom_id(@estimation) %>">
  <template>
    <script>
      // Highlight the updated item
      const updatedItem = document.getElementById('<%= dom_id(@estimation_item) %>');
      if (updatedItem) {
        updatedItem.classList.add('highlight-flash');
        setTimeout(() => updatedItem.classList.remove('highlight-flash'), 1000);
      }
    </script>
  </template>
</turbo-stream>
