<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= page_title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbo-track' => 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbo-track' => 'reload' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-dark bg-dark">
    <a href="/" class="navbar-brand">Buffer estimator</a>

    <% if user_signed_in? %>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <%= link_to :destroy_user_session, class: "nav-link" do %>
            <%= icon("sign-out", "Sign out") %>
          <% end %>
        </li>
      </ul>
    <% end %>
  </div>

  <% if notice %>
    <div class="alert alert-info" role="alert"><%= notice %></div>
  <% end %>
  <% if alert %>
    <div class="alert alert-warning" role="alert"><%= alert %></div>
  <% end %>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
