<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= page_title %></title>
  <%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css', integrity: 'sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N', crossorigin: 'anonymous', 'data-turbo-track' => 'reload' %>
  <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css', integrity: 'sha512-9xKTRVabjVeZmc+GUW8GgSmcREDunMM+Dt/GrzchfN8tkwHizc5RP4Ok/MXFFy5rIjJjzhndFScTceq5e6GvVQ==', crossorigin: 'anonymous', 'data-turbo-track' => 'reload' %>
  <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap-editable/css/bootstrap-editable.css', 'data-turbo-track' => 'reload' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track' => 'reload' %>
  <%= csrf_meta_tags %>
  <%= javascript_importmap_tags %>
</head>
<body>
  <div class="navbar navbar-dark bg-dark">
    <a href="/" class="navbar-brand">Buffer estimator</a>

    <% if user_signed_in? %>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <%= link_to :destroy_user_session, class: "nav-link" do %>
            <%= icon("sign-out", "Sign out") %>
          <% end %>
        </li>
      </ul>
    <% end %>
  </div>

  <% if notice %>
    <div class="alert alert-info" role="alert"><%= notice %></div>
  <% end %>
  <% if alert %>
    <div class="alert alert-warning" role="alert"><%= alert %></div>
  <% end %>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
