<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= page_title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="header">
    <div class="pure-menu pure-menu-horizontal">
      <a href="/" class="pure-menu-heading">Buffer estimator</a>

      <% if user_signed_in? %>
        <ul class="pure-menu-list pull-right">
          <li class="pure-menu-item">
            <%= link_to "Sign out", :destroy_user_session %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>


  <div class="content-wrapper">
    <div class="content">
      <div class="pure-g">
        <div class="pure-u-1 center-wrapper">
          <% flash.each do |key, value| %>
            <div class="notification <%= key %>">
              <%= value %>
            </div>
          <% end %>
        </div>
        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>
